@model IEnumerable<WebProjesi.Models.Model.Kategori>
@{
    ViewBag.Title = "Admin Anasayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


      
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box blue-bg">
                    <i class="fa fa-cloud-download"></i>
                    <div class="count">@ViewBag.BlogSay</div>
                    <div class="title">Blog Yazısı</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box brown-bg">
                    <i class="fa fa-shopping-cart"></i>
                    <div class="count">@ViewBag.KategoriSay</div>
                    <div class="title">Kategori</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box dark-bg">
                    <i class="fa fa-thumbs-o-up"></i>
                    <div class="count">@ViewBag.HizmetSay</div>
                    <div class="title">Hizmetler</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box green-bg">
                    <i class="fa fa-cubes"></i>
                    <div class="count">@ViewBag.YorumSay</div>
                    <div class="title">Yorumlar</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->
        </div>
       
       <div class="text-right">
        <div class="credits">
           
             <a href="#">Web Admin</a>
        </div>
    </div>
