
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section id="content">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24916.711050886857!2d39.1632015!3d38.6813154!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4076c0392d27f05b%3A0x4518a6344d591f49!2sF%C4%B1rat%20Teknokent!5e0!3m2!1str!2str!4v1642328426919!5m2!1str!2str" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen loading="lazy"></iframe>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4><strong>İletişim</strong></h4>
                @if (ViewBag.Uyari == "Mesajınız başarı ile gönderilmiştir.")
                {
                    <div class="alert alert-info">@ViewBag.Uyari</div>
                }

                <form action="/Home/Iletisim/" method="post" role="form" class="contactForm">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input type="text" name="adsoyad" class="form-control" id="name" placeholder="İsminiz" data-rule="minlen:4" data-msg="Lütfen en az 4 karekter giriniz" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Mail Adresiniz" data-rule="email" required />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="konu" id="subject" placeholder="Konu" data-rule="minlen:4" required />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="mesaj" rows="5" data-rule="required" required placeholder="Mesajınız"></textarea>
                        <div class="validation"></div>
                    </div>

                    <div class="text-center"><button type="submit" class="btn btn-theme">Gönder</button></div>


                </form>
            </div>
        </div>
    </div>
</section>

